doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title *|MC:SUBJECT|*

		body

			p Tu contrase침a temporal es: #{password}
			p Da click en el siguiente enlace para iniciar sesi칩n y cambiar tu contrase침a:

			a(href=link) Click_para_ir_a_inciar_sessi칩n
